/* Write your CSS here */
.header-container {
  background-color: #cbd5e1;
  width: 80%;
  align-self: center;
  margin-bottom: 10px;
}
.header-text {
  color: #475569;
  font-family: 'Roboto';
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
